:root {
  --primary-clr-300: #5d5b8d;
  --primary-clr-500: #3e3c61;
  --primary-clr-700: #2f2d52;
  --secondary-clr-300: #a7bcff;
  --secondary-clr-500: #8da4f1;
  --secondary-clr-700: #7b96ec;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
